$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

:root {
  // Fonts
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'FixelDisplay', sans-serif;

  // Colors
  --primary-cl: #212121;
  --accent-cl: #ECD8BD;
  
  --pressed-state-cl: #E5B471;

  --text-cl: #ffffff;
  --add-text-cl: #9E9E9E;

  --icon-cl: #B58224;
  --arrow-up-cl: #FFD28D;
}
