.education {
  background-color: var(--primary-cl);
}

.education__list {
  display: flex;
  flex-direction: column;
  gap: 50px;

  color: var(--accent-cl);
}

.education__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education__sub-title {
  font-size: 35px;
}

.education__description {
  font-size: 15px;
}

.education__title {
  color: var(--text-cl);
}

.education__text {
  color: var(--text-cl);
}
