<section class="education">
  <div class="container">
    <ul class="education__list">
      <li class="education__item">
        <h3 class="education__sub-title">- Вища освіта</h3>
        <p class="education__description">Детальніше про освіту (ʘ ͟ʖ ʘ)</p>
      </li>
      <li class="education__item">
        <h3 class="education__sub-title">- Назва курсу</h3>
        <p class="education__description">Детальніше про курс (ʘ ͟ʖ ʘ)</p>
      </li>
      <li class="education__item">
        <h3 class="education__sub-title">- Назва курсу</h3>
        <p class="education__description">Детальніше про курс (ʘ ͟ʖ ʘ)</p>
      </li>
      <li class="education__item">
        <h3 class="education__sub-title">- Назва курсу</h3>
        <p class="education__description">Детальніше про курс (ʘ ͟ʖ ʘ)</p>
      </li>
      <li class="education__item">
        <h3 class="education__sub-title">- Лекції</h3>
        <p class="education__description">Детальніше про лекції (ʘ ͟ʖ ʘ)</p>
      </li>
      <li class="education__item">
        <h3 class="education__sub-title">- Вебінари</h3>
        <p class="education__description">
          Детальніше про вебінари (ʘ ͟ʖ ʘ)
        </p>
      </li>
    </ul>
    <h2 class="education__title">
      Професійний візажист з багаторічним досвідом
    </h2>
    <p class="education__text">
      Високий рівень якості послуг для клієнтів які прагнуть зробити досконалий
      образ в одному кліку від Вас:
    </p>
    <button>Записатись</button>
  </div>
</section>
