<section class="education">
  <div class="container">
    <ul class="education-list">
      <li class="education-list__item">
        <h3 class="education-list__item__header">- Вища освіта</h3>
        <p class="education-list__item__text">Детальніше про освіту (ʘ ͟ʖ ʘ)</p>
      </li>
      <li class="education-list__item">
        <h3 class="education-list__item__header">- Назва курсу</h3>
        <p class="education-list__item__text">Детальніше про курс (ʘ ͟ʖ ʘ)</p>
      </li>
      <li class="education-list__item">
        <h3 class="education-list__item__header">- Назва курсу</h3>
        <p class="education-list__item__text">Детальніше про курс (ʘ ͟ʖ ʘ)</p>
      </li>
      <li class="education-list__item">
        <h3 class="education-list__item__header">- Назва курсу</h3>
        <p class="education-list__item__text">Детальніше про курс (ʘ ͟ʖ ʘ)</p>
      </li>
      <li class="education-list__item">
        <h3 class="education-list__item__header">- Лекції</h3>
        <p class="education-list__item__text">Детальніше про лекції (ʘ ͟ʖ ʘ)</p>
      </li>
      <li class="education-list__item">
        <h3 class="education-list__item__header">- Вебінари</h3>
        <p class="education-list__item__text">
          Детальніше про вебінари (ʘ ͟ʖ ʘ)
        </p>
      </li>
    </ul>
    <h2 class="education-header">
      Професійний візажист з багаторічним досвідом
    </h2>
    <p class="education-text">
      Високий рівень якості послуг для клієнтів які прагнуть зробити досконалий
      образ в одному кліку від Вас:
    </p>
    <button>Записатись</button>
  </div>
</section>
