<header class="header">
  <nav class="container nav-container">
    <a class="nav-link" href="./portfolio.html">Валєрія Данько</a>
    <ul class="nav-list">
      <li class="nav-list__item">
        <a href="#">Головна</a>
      </li>
      <li class="nav-list__item">
        <a href="">Освіта</a>
      </li>
      <li class="nav-list__item">
        <a href="#">Послуги</a>
      </li>
      <li class="nav-list__item">
        <a href="#">Про мене</a>
      </li>
    </ul>
    <button type="button" class="nav-button">
      <a href="#">Зв'язатись зі мною</a>
    </button>
  </nav>
</header>
