<section class="slider">
  <div class="container">
    <ul class="slider-list">
      <li class="slider-list__item">
        <svg class="slider-svg">
          <use xlink:href="./img/sprite.svg#icon-diamond"></use>
        </svg>
        <p>Якісна продукція</p>
      </li>
      <li class="slider-list__item">
        <svg class="slider-svg">
          <use xlink:href="./img/sprite.svg#icon-diplom"></use>
        </svg>
        <p>Кваліфікований спеціаліст</p>
      </li>
      <li class="slider-list__item">
        <svg class="slider-svg">
          <use xlink:href="./img/sprite.svg#icon-standarts"></use>
        </svg>
        <p class="slider-text">Високі стандарти</p>
      </li>
    </ul>
  </div>
</section>
